@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
.submitAdd{
    /*rounded-r-lg px-3 py-1 bg-green-600 text-white shrink-0*/
    background-color: rgb(53, 35, 35);
    color: wheat;
    padding: 10px 10px;
    border-radius: 2px;
    font-family: "Dancing Script", cursive;

}
button:hover {
    background-color: #008CBA; /* change to your desired color */
    color: white; /* change to your desired color */
  }

.w-full{
    font-family:"Dancing Script", cursive ;
    font-weight: bolder;
    font-size: large;
}